<!DOCTYPE html>
<html>
<head>
    <title>Kneser-Ney Smoothing</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>Kneser–Ney Smoothing (Bigram)</h1>

    <table>
        <tr>
            <th>Bigram</th>
            <th>Probability</th>
        </tr>

        {% for item in probabilities %}
        <tr>
            <td>{{ item.bigram }}</td>
            <td>{{ item.probability }}</td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>
